.footer {
    padding: 92px 162px 95px 162px ;
    background-color: var(--black-color);
}

.footer > .footer-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer > .footer-container > .designed-by {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--white-color);
    font-size: 24px;
    font-weight: 400;
    line-height: 35.25px;
}

.footer > .footer-container > .designed-by span {
    font-weight: 900;
}

.footer > .footer-container > .social-media {
    display: flex;
    justify-content: space-between;
    width: 19%;
}

.footer > .footer-container > .social-media > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: 60px;
}

.footer > .footer-container > .social-media > div i {
    text-decoration: none;
    color: var(--white-color);
    transition: 0.05s;
}

.footer > .footer-container > .social-media > div i:hover {
    font-size: 34px;
    cursor: pointer;
}