.header {
    display: flex;
    justify-content: space-between;
    padding: 28px 155px 28px 162px;
    height: 103px;
    background-color: var(--white-color);
}

.header > .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header > .logo img {
    width: 100px;
    height: auto;
    filter: var(--c-img-filter);
}

.header > .links-wrapper  {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 35%;
}

.header > .links-wrapper > .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header > .links-wrapper > .links > div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 300;
    width: 20%;
    line-height: 23.5px;
    height: 19px;
}

.header > .links-wrapper > .links > div a{
    text-decoration: none;
    color: var(--black-color);
}

.header > .links-wrapper > .links > div:hover {
    cursor: pointer;
    text-decoration: underline;
    font-weight: 600;
}

.header > .links-wrapper > .links > .darkmode span{
    width: fit-content !important;
    background-color: var(--black-color);
    color: var(--white-color);
    padding: 3px;
    font-size: 32px;
    border-radius: 50%;
    transition: 0.2s;
}

.header > .links-wrapper > .links > .darkmode:hover{
    text-decoration: none;
}

.header > .links-wrapper > .links > .darkmode span:hover{
    width: fit-content !important;
    background-color: var(--white-color);
    color: var(--black-color);
    padding: 3px;
    border-radius: 50%;
}