.projects-section {
    display: flex;
    flex-direction: column;
    padding: 62px 154px 0px 162px;
    background-color:  var(--white-color);
    height: 1080px;
    overflow: hidden;
}

.my-projects-title-descrip {
    display: flex;
    flex-direction: column;
}

.my-projects-title-descrip > .my-projects h1 {
    font-size: 85px !important;
    font-weight: 900;
    line-height: 124.84px;
    margin: 0px !important;
}

.my-projects-title-descrip > .my-projects-descrip h2 {
    font-size: 31px !important;
    font-weight: 400;
    line-height: 45.53px;
}

/* ---------- my projects title and description styles ---------- */
.projects-section > .projects-tabs {
    display: flex;
    justify-content: space-between;
    padding: 87px 0px 0px 0px;
}

.projects-section > .projects-tabs > div {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.projects-section > .projects-tabs > div > div{
    padding: 7px 0px;
}

.projects-section > .projects-tabs > div > div img {
    display: flex;
    width: 100%;
    height: auto;
}

.projects-section > .projects-tabs > div > div > div h3 {
    font-size: 24px !important;
    font-weight: 800;
    line-height: 35.25px;
    margin: 0px !important;
}

.projects-section > .projects-tabs > div > div > div h6 {
    font-size: 15px !important;
    font-weight: 400;
    line-height: 22px;
    margin: 0px !important;
}

.projects-section > .projects-tabs > div > .dog-buttons , .laptop-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.projects-section > .projects-tabs > div > .dog-buttons > div , .laptop-buttons > div {
    display: flex;
    justify-content: center;
    width: 48%;
}

.projects-section > .projects-tabs > div > div > div button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);
    border: 2px solid var(--black-color);
    font-size: 20px;
    font-weight: 400;
    width: 100%;
    height: 42px;
    line-height: 30px;
}

.projects-section > .projects-tabs > div > div > div button a {
    text-decoration: none;
    color: var(--black-color);
}

.projects-section > .projects-tabs > div > div > .see-it-live-button button {
    font-size: 20px;
    font-weight: 700;
}

.projects-section > .projects-tabs > div > .dog-buttons > div button:hover , .laptop-buttons > div button:hover {
    cursor: pointer;
    text-decoration: underline;
}