.our-service-container {
    display: flex;
    justify-content: space-between;
    padding: 370px 140px 185px 128px;
    background-color: white;
}

/* ---------- left column styles ---------- */
.our-service-left-column {
    position: relative;
    width: 50%;
}

.our-service-left-column > .our-service-left-column-photo img {
    width: 100%;
}

.our-serivce-left-column-absolute-div {
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: flex;
}

.our-serivce-left-column-absolute-div > div {
    width: 109px;
    height: 107px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-serivce-left-column-absolute-div > .see-more-arrow {
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.our-serivce-left-column-absolute-div > .see-more-see-more {
    background-color: white;
}

.our-serivce-left-column-absolute-div > .see-more-see-more a{
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

.our-serivce-left-column-absolute-div > .see-more-see-more a:hover{
    text-decoration: underline;
    cursor: pointer;
}


/* ---------- right column styles ---------- */
.our-service-right-column {
    width: 42%;
}

.our-service-right-column .our-service-our-service {
    display: flex;
    align-items: center;
}
 
.our-service-title-h2 {
    height: 162px;
}

.serivces-list-container {
    height: 245px;
    font-size: 20px;
    font-weight: 500;
    line-height: 50px;
    color: #7d7d7d;
}