.our-popular-section {
    display: flex;
    justify-content: space-between;
    padding: 270px 222px 216px 178px;
}

.our-popular-section > div{
    height: 607px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.popular-left-column > .popular-left-above-photo {
    display: flex;
}

.popular-middle-column > .popular-middle-button-container button {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
}

.popular-middle-column > .popular-middle-button-container button a:hover {
    cursor: pointer;
    text-decoration: underline;
}